<!-- About Start -->
<section class="section bg-light feather-bg-img" style="background-image: url(assets/images/features-bg-img.png);" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3 class="title mb-3">About Us</h3>
                    <p class="text-muted font-size-15">We are a multi-disciplinary team of developers focused on generating solutions with high quality, and value to the company's stakeholders.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="mb-4 mb-lg-0">
                    <img src="assets/images/Developement.png" alt="Development" class="img-fluid d-block mx-auto">
                </div>
            </div>

            <div class="col-lg-5 offset-lg-1">
                <p class="font-weight-medium text-uppercase mb-2"><i class="mdi mdi-chart-bubble h2 text-primary mr-1 align-middle"></i> Smart solutions</p>
                <h3 class="font-weight-semibold line-height-1_4 mb-4">Diverse <b>backgrounds</b> & <b>technical skills</b> we build high quality <b>software solutions</b></h3>
                <p class="text-muted font-size-15 mb-4">We understand that technology is constantly changing, and we know that with our process of improvement skills we can accept any challenge that the market would have. That being said, using our diverse backgrounds we'll bring Sempli mechanisms
                    and technological strategies. To solve the project while benefiting the company economically.</p>
            </div>
        </div>
    </div>
</section>
<!-- About End -->