<section class="section bg-light feather-bg-img" style="background-image: url(assets/images/features-bg-img.png);" id="team">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3 class="title mb-3">Our Amazing Team</h3>
                    <p class="font-size-15">We want you to know a little more about the team members and their skills.</p>
                </div>
            </div>
        </div>
        <!-- Grid row -->
        <div class="row justify-content-center">

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4 align-content-center text-center">
                <div class="text-center avatar mx-auto">
                    <img src="assets/images/carlos_barros.png" class="rounded-circle z-depth-1 img-fluid" alt="perfil carlos barros" style="width: 250px; height: 250px">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Carlos Barros</h5>
                <p class="text-uppercase blue-text"><strong>Data Scientist</strong></p>
                <p class="text-justify grey-text">Junior machine learning engineer with experience in projects and works focusing on helping companies to empower themselves from data to obtain greater performance and profitability supported by the latest technological advances.</p>
                <ul class="list-unstyled mb-0">
                    <!-- Linkedin -->
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/carlosbarros7" class="footer-social-icon">
                            <i-feather name="linkedin"></i-feather>
                        </a>
                    </li>
                    <!-- Twitter -->
                    <li class="list-inline-item">
                        <a href="https://twitter.com/cbarros27" class="footer-social-icon">
                            <i-feather name="twitter"></i-feather>
                        </a>
                    </li>
                    <!-- Github -->
                    <li class="list-inline-item">
                        <a href="https://github.com/cbarros7" class="footer-social-icon">
                            <i-feather name="github"></i-feather>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4 align-content-center text-center">
                <div class="text-center avatar mx-auto">
                    <img src="assets/images/andres_hughet.jpg" class="rounded-circle z-depth-1 img-fluid" alt="perfil andres hugueth" style="width: 250px; height: 250px">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Andres Hugueth</h5>
                <p class="text-uppercase blue-text"><strong>Data Scientist</strong></p>
                <p class="text-justify grey-text">Software Developer and Data Science apprentice, passionate about Science and Programming. I have experience in projects that involve technologies such as HTML, CSS, Python, C, JavaScript, Git, and GitHub. I hold a bachelor's degree in
                    Mechanical Engineering.</p>
                <ul class="list-unstyled mb-0">
                    <!-- Linkedin -->
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/andreshugueth" class="footer-social-icon">
                            <i-feather name="linkedin"></i-feather>
                        </a>
                    </li>
                    <!-- Twitter -->
                    <li class="list-inline-item">
                        <a href="https://twitter.com/AndresHugueth" class="footer-social-icon">
                            <i-feather name="twitter"></i-feather>
                        </a>
                    </li>
                    <!-- Github -->
                    <li class="list-inline-item">
                        <a href="https://github.com/andreshugueth" class="footer-social-icon">
                            <i-feather name="github"></i-feather>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4 align-content-center text-center">
                <div class="text-center avatar mx-auto">
                    <img src="assets/images/ronnie_barrios.jpg" class="rounded-circle z-depth-1 img-fluid" alt="perfil ronnie barrios" style="width: 250px; height: 250px">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Ronnie Barrios</h5>
                <p class="text-uppercase blue-text"><strong>Backend Developer</strong></p>
                <p class="text-justify grey-text">Full Stack Software Developer and Electronic Engineer with 11 years experience in customer support, process automation and design. Passionate about Computer's science technologies, website's responsive design, and learning about platforms
                    and deployment.</p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/ronniebm" class="footer-social-icon">
                            <i-feather name="linkedin"></i-feather>
                        </a>
                    </li>
                    <!-- Twitter -->
                    <li class="list-inline-item">
                        <a href="https://twitter.com/ronniealberto" class="footer-social-icon">
                            <i-feather name="twitter"></i-feather>
                        </a>
                    </li>
                    <!-- Instagram -->
                    <li class="list-inline-item">
                        <a href=" https://github.com/ronniebm" class="footer-social-icon">
                            <i-feather name="github"></i-feather>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4 mt-3 align-content-center text-center">
                <div class="text-center avatar mx-auto">
                    <img src="assets/images/jose_vallejo.jpg" class="rounded-circle z-depth-1 img-fluid" alt="perfil jose vallejo" style="width: 250px; height: 250px">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Jose Vallejo</h5>
                <p class="text-uppercase blue-text"><strong>Backend Developer</strong></p>
                <p class="text-justify grey-text">Full Stack Software Developer with seven years of experience in the industrial sector, attending to the needs of my clients, team and suppliers. In my continuous learning stage I have acquired skills as Software Developer learning different
                    technologies that allow me to occupy frontend and/or backend positions.</p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/joseavallejo12" class="footer-social-icon">
                            <i-feather name="linkedin"></i-feather>
                        </a>
                    </li>
                    <!-- Twitter -->
                    <li class="list-inline-item">
                        <a href="https://twitter.com/JoseAVallejo12" class="footer-social-icon">
                            <i-feather name="twitter"></i-feather>
                        </a>
                    </li>
                    <!-- Instagram -->
                    <li class="list-inline-item">
                        <a href="https://github.com/JoseAVallejo12" class="footer-social-icon">
                            <i-feather name="github"></i-feather>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-lg-4 col-md-6 mb-4 mt-3 align-content-center text-center">
                <div class="text-center avatar mx-auto">
                    <img src="assets/images/wilder_rincon.jpg" class="rounded-circle z-depth-1 img-fluid" alt="perfil wilder rincon" style="width: 250px; height: 250px">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">Wilder Rincon</h5>
                <p class="text-uppercase blue-text"><strong>Frontend Developer</strong></p>
                <p class="text-justify grey-text">Full Stack Javascript Developer working that focuses on frontend framworks such as React and Angular, working as SSR with Node JS and Next JS. I have a passion for Devops, web accesability and serverless technologies. To grow my skills
                    I focus on building a JAM stack projects.</p>
                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/wildsrincon" class="footer-social-icon">
                            <i-feather name="linkedin"></i-feather>
                        </a>
                    </li>
                    <!-- Twitter -->
                    <li class="list-inline-item">
                        <a href="https://twitter.com/wildsrincon" class="footer-social-icon">
                            <i-feather name="twitter"></i-feather>
                        </a>
                    </li>
                    <!-- Instagram -->
                    <li class="list-inline-item">
                        <a href="https://github.com/wildcox80" class="footer-social-icon">
                            <i-feather name="github"></i-feather>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->
    </div>
</section>