<section class="section feather-bg-img" style="background-color: #b2fcff;" id="process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mb-5">
                    <h3 class="title mb-3">Step Process</h3>
                    <p class="font-size-15">We describe all the process to carry out the construction the solution described by Sempli.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="process left">
                    <div class="process-step">
                        <strong>01</strong>
                    </div>
                    <div class="process-content">
                        <div class="process-icon">
                            <span class="flaticon-line"></span>
                        </div>
                        <div class="process-info">
                            <h5 class="mb-20"> Analysis</h5>
                            <p>An open discussion of your managerial board with our designers let's them gain a deeper insight of your plans, future goals and the preferred approach towards the achievement of those goals. Requirements are analyzed and milestones
                                are defined. Expenses and required man hours are speculated along with the creation of the documentation that propels us into further stages of development.</p>
                        </div>
                    </div>
                    <div class="border-area left-bottom"></div>
                </div>
                <div class="process right">
                    <div class="process-step">
                        <strong>02</strong>
                    </div>
                    <div class="process-content text-right">
                        <div class="process-icon">
                            <span class="flaticon-technology-1"></span>
                        </div>
                        <div class="process-info">
                            <h5 class="mb-20"> Design</h5>
                            <p>The understanding gained from the previous stage is used to shape models and blueprints. Findings of extensive research after the initial meeting initiate the formal designing of the product. The plans, raw at this stage, are
                                discussed with the stakeholders and feedbacks and opinions are sent back and forth until one of the many proposed designs is finalized and sent to the technical team.</p>
                        </div>
                    </div>
                    <div class="border-area right-top"></div>
                    <div class="border-area right-bottom"></div>
                </div>
                <div class="process left">
                    <div class="process-step">
                        <strong>03</strong>
                    </div>
                    <div class="process-content">
                        <div class="process-icon">
                            <span class="flaticon-computer"></span>
                        </div>
                        <div class="process-info">
                            <h5 class="mb-20"> Development</h5>
                            <p>Ideas start taking shape and the process is streamlined with a singular vision to deliver the best product that meets all the business requirements and more. Our designers and technical experts work together to create a newsworthy
                                online presence for your business. Hours of diligent work with regular inputs from the business bring an end to the most important segment of all the <strong> web development phases </strong> wherein the final product is
                                ready to be taken to the next level.</p>
                        </div>
                    </div>
                    <div class="border-area left-bottom"></div>
                    <div class="border-area left-top"></div>
                </div>

                <div class="process right">
                    <div class="process-step">
                        <strong>04</strong>
                    </div>
                    <div class="process-content text-right">
                        <div class="process-icon">
                            <span class="flaticon-stopwatch-tool-to-control-test-time"></span>
                        </div>
                        <div class="process-info">
                            <h5 class="mb-20"> Testing</h5>
                            <p>The end product is put through multiple rounds of rigorous testing to ensure it is bug-free with all functionalities operating as expected. Several rounds of unit testing and system integration testing assess the work done
                                through the above <strong> web development phases </strong> and changes are made wherever a discrepancy is witnessed. Only after getting a sign-off on the UAT the testing phase is brought to an end.</p>
                        </div>
                    </div>
                    <div class="border-area right-top"></div>
                    <div class="border-area right-bottom"></div>
                </div>

                <div class="process left">
                    <div class="process-step">
                        <strong>05</strong>
                    </div>
                    <div class="process-content">
                        <div class="process-icon">
                            <span class="flaticon-rocket-launch"></span>
                        </div>
                        <div class="process-info">
                            <h5 class="mb-20"> Go-Live</h5>
                            <p>After all the quality checks and a green signal from the business the website is launched. After initial support on day-to-day activities the reins are handed over to the business. However, our post deployment maintenance services
                                render necessary assistance and troubleshooting services.</p>
                        </div>
                    </div>
                    <div class="border-area left-bottom"></div>
                    <div class="border-area left-top"></div>
                </div>
            </div>
        </div>


    </div>
</section>