/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 70px;
    background-color: #5edfff;
}


/* .navbar-brand {
    margin-top: 30px;
} */

.navbar-collapse {
    margin-top: 20px;
}

.navbar-nav {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.navbar-nav a {
    color: #050e32 !important;
    font-weight: 500;
}

.navbar-toggler {
    background-color: #050e32;
    border-radius: 50%;
    margin-bottom: 30px;
}

#logo {
    width: 250px;
    height: 100px;
    line-height: 70px;
    margin-top: -25px;
}

#btn-login {
    background-color: #3b64ff;
    border: 1px solid;
    color: antiquewhite;
}

a .nav-link {
    background-color: #3b64ff;
}

.jumbotron {
    background: linear-gradient(270deg, #050E32, #3E64FF);
}

.container-hero {
    column-count: 2;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-img {}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    #logo {
        margin-top: 5px;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}