.container-hero {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
}

.jumbotron {
    background: linear-gradient(270deg, #050E32, #3E64FF);
}

.hero-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}

.hero-img {
    display: flex;
    flex-direction: column;
}