<div class="jumbotron jumbotron-fluid">
    <div class="container-hero">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="hero-text">
                    <h1 class="text-uppercase display-4">Sempli Project</h1>
                    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="hero-img">
                    <img class="img-fluid" src="assets/images/machine_learning.png" alt="machine learning">
                </div>
            </div>
        </div>
    </div>
</div>