<div class="jumbotron jumbotron-fluid">
    <div class="container-hero">
        <div class="row">
            <div class="col-12 col-md-6 hero-text">
                <h1 class="text-uppercase display-4">Sempli Project</h1>
                <p class="lead text-justify">FinTechs companies have a Huge DataBases info and they want to implement ML Algorithms with fast and accuracy financial study purposes, this will help them with fast decision making and will also increment the company’s productivity.</p>
                <a class="nav-link waves-light" href="#contact" mdbWavesEffect>
                    <button id="btn-hero" mdbBtn type="button" outline="true" mdbWavesEffect>Contact Us</button>
                </a>
            </div>
            <div class="col-12 col-md-6 hero-img">
                <img class="img-fluid" src="assets/images/machine_learning.png" alt="machine learning">
            </div>
        </div>
    </div>
</div>