<!--Navbar Start-->
<nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-dark" (window:scroll)="windowScroll()" id="navbar">
    <div class="container">
        <!-- LOGO -->
        <a class="navbar-brand logo" href="/">
            <img src="assets/images/logo-dark.png" alt="" class="logo-dark" height="50" />
            <img src="assets/images/logo-light.png" alt="" class="logo-light" height="50" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMenu()">
            <i class="mdi mdi-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mx-auto navbar-center" id="mySidenav">
                <li class="nav-item" [ngClass]="{'active':currentSection === 'home'}">
                    <a href="javascript: void(0);" [ngxScrollTo]="'#home'" class="nav-link">Home</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'about'}">
                    <a href="javascript: void(0);" [ngxScrollTo]="'#about'" class="nav-link">About</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'process'}">
                    <a href="javascript: void(0);" [ngxScrollTo]="'#process'" class="nav-link" [ngxScrollToOffset]="5">Process</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'team'}">
                    <a href="javascript: void(0);" [ngxScrollTo]="'#team'" class="nav-link" [ngxScrollToOffset]="5">Team</a>
                </li>
                <li class="nav-item" [ngClass]="{'active':currentSection === 'contact'}">
                    <a href="javascript: void(0);" [ngxScrollTo]="'#contact'" class="nav-link" [ngxScrollToOffset]="5">Contact
              Us</a>
                </li>
            </ul>
            <ul class="navbar-nav navbar-center">
                <li class="nav-item">
                    <a href="javascript: void(0);" [routerLink]="['login']" [ngxScrollTo]="'#contact'" class="nav-link" [ngxScrollToOffset]="5">
                        <button id="btn-hero" type="button" class="btn btn-primary">Login</button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar End -->
<div appScrollspy [spiedTags]="['SECTION']" (sectionChange)="onSectionChange($event)">
    <!-- Hero Start -->
    <section class="hero-1-bg" style="background: linear-gradient(270deg, #050E32, #3E64FF);" id="home">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-6 hero-text">
                    <h1 class="hero-1-title text-light font-weight-bold text-shadow mb-4">Sempli Project</h1>

                    <p class="text-light font-size-17">FinTechs companies have a Huge DataBases info and they want to implement ML Algorithms with fast and accuracy financial study purposes, this will help them with fast decision making and will also increment the company’s productivity.</p>
                    <a href="javascript: void(0);" [ngxScrollTo]="'#contact'" class="nav-link" [ngxScrollToOffset]="5">
                        <button id="btn-hero" type="button" class="btn btn-secondary mt-3">Contact Us</button>
                    </a>
                </div>
                <div class="col-lg-6 col-md-10 hero-img">
                    <div class=" mt-5 mt-lg-0">
                        <img src="assets/images/machine_learning.png" alt="machine learning" class="img-fluid d-block mx-auto">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero End -->

    <app-about></app-about>
    <app-process></app-process>
    <app-team></app-team>
    <app-contact></app-contact>
    <app-footer-landing></app-footer-landing>
</div>